


body{
  background:#FBFCFC;
}
footer{
  margin-top: 20px;
  color:silver;
  font-family: verdana;
}
img{
  float:right;
  padding-top: 10px;
  border-top: 10px;
  border-bottom: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  background-color: #FBFCFC;
}

p {
  color:#634C4C;
  height: auto;
  width: auto;
  padding: 15px;
}
.href a {
  style: none;
  color:#634C4C;
}

.texto{
  text-align: center;
  height: auto;
  width: auto;

}
.container{
  font-family: verdana; color:#FBFCFC;
  background: #FBFCFC;
  display: 85%;
}

.nombre {
  height: auto;
  width: auto;
  display:flex;
  align-items: center;
  font-size: 0.75em;
}

.perfil {
  border: 0px;
  border-style: none;
  margin-top: 0px;
  width: auto;
  text-align: justify;
  font-size: 0.85em;
  color:#FBFCFC;
}
/* Styling the navigation */
.nav {
	background-color: #AAB2BD;
	padding: 0.8em 0;
	margin: 0;
	list-style: none;
	text-align: center;
}
.nav > li {
	display: inline-block;
}

.nav > li > a {
	color: #634C4C;
	font-size: 0.9em;
	padding: 1em;
	text-decoration: none;
}

.mision {
  border:0px;
  border-style: none;
  margin-top: 0px;
  width: auto;
  text-align: justify;
  font-size: 0.95em;
  color:#FBFCFC;
}

.blog {
  margin-top: 15px;
  width: auto;
  text-align: justify;
  font-size: 0.85em;
  color:#634C4C;
}




.history-tl-container{
    font-family: "",;
  width:100%;
  margin:auto;
  display:block;
  position:relative;

}
.history-tl-container ul.tl{
    margin:5px 0;
    padding:0;
    display:inline-block;

}
.history-tl-container ul.tl li{
    list-style: none;
    margin:auto;
    margin-left:200px;
    min-height:50px;
    /*background: rgba(255,255,0,0.1);*/
    border-left:1px dashed #86D6FF;
    padding:0 0 20px 30px;
    position:relative;
}
.history-tl-container ul.tl li:last-child{ border-left:0;}
.history-tl-container ul.tl li::before{
    position: absolute;
    left: -18px;
    top: -5px;
    content: " ";
    border: 8px solid rgba(255, 255, 255, 0.74);
    border-radius: 500%;
    background: #258CC7;
    height: 20px;
    width: 20px;
    transition: all 500ms ease-in-out;

}
.history-tl-container ul.tl li:hover::before{
    border-color:  #258CC7;
    transition: all 1000ms ease-in-out;
}
ul.tl li .item-title{
color: #634C4C;
text-decoration: none;
font-size: 1.0em;
}
ul.tl li .item-detail{
    color: #634C4C;
    font-size:0.85em;
}
ul.tl li .timestamp{
    color: #634C4C;
    position: absolute;
  width:100px;
    left: -75%;
    text-align: left;
    font-size: 0.8em;
}
/* curriculum fotos*/
.foto {
background-color: #FBFCFC;
}

.foto img {
width:350px;
height:300px;
}



.chart{
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  border-left: ;
  border-bottom: 20px;
}
.chart ul{
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}
.chart li{
  padding-left: 2%;
  margin-left: 0;
  height: 25px;
  margin-bottom: 20px;
  border-radius: 0px 10px 10px 0px;
  box-shadow: 0px 2px 5px #333;
  color: #fff;
  font-size: 0.8em;
  line-height: 25px;
  vertical-align: middle;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.35);
}
.percentage{
  float: right;
  margin-right: 2%;
  color: white;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.75);
  opacity: 0.75;
}
.small-percent{
  font-size: 0.60em;
  vertical-align: bottom;
}
.pacmicro-skill{
  width: 95%;
  background-color: #3399ff;
}
.teamwork-skill{
  width: 100%;
  background-color: #3399ff;
}
.cliente-skill{
  width: 100%;
  background-color: #3399ff;
}
.ingles-skill{
  width: 95%;
  background-color: #3399ff;
}
.cons-skill{
  width: 100%;
  background-color: #3399ff;
}

/* termina seccion3 eduexp aptcont*/
/* Inicia contacto*/
.contactoi {
  font-size: ;
  color: #634C4C;
  text-decoration: none;
  font-family: verdana;
}
.contacto li {
  list-style:  none;
}
.contacto i {
  font-size: 1.0em;
}
.contacto li a {
  font-size: 1.0em;
  color: #634C4C;


}
.contacto .cvimprimir{
  font-size: 1.0em;
  color: silver;
  text-decoration: none;
  font-family: verdana;
}




/* termina contacto*/





/* MEDIA QUERIES */

/* Setting the media querie for the navigation */

@media (min-width: 200px) and (max-width: 600px) {
	.nav {
		display: block;
		text-align: center;
    font-size: 0.75em;
  }

	.nav > li {
		display: inline-block;
	}
	.nav-btn {
		display: block;
		background-color: rgba(106, 149, 169, 1.0);
		color: #fff;
		font-size: 0.25em;
		text-align: center;
		cursor: pointer;
	}
	.nav-btn:before {
    content: "";

	}
