<!DOCTYPE html>
<html  class lang="es" dir="ltr" data-whatinput="mouse" data-whatintent="mouse">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="jose marquez melgar">
		<meta name="webpage" content="webpage de Jóse Márquez Melgar">
		<title>webpage JOSÉ MÁRQUEZ MELGAR</title>
		<link rel="stylesheet" href="../css/estilos.css">
		<link rel="stylesheet" href="../css/foundation.min.css">
		<link rel="stylesheet" href="../css/foundation.css">
		<link rel="stylesheet" href="../css/app.css">
		<link rel="stylesheet" href="../foundation-icons\foundation-icons.css">
		<meta class="foundation-mq">
	</head>
	<body>
		 <div class="container">

						 <div class="row">
							 <div class=" medium-3 small-3 columns" style="background:#008080">
												 <div>
													 <img src="../img/20181112_perfil2.jpg" alt="20181112_perfil2" title="foto perfil jose marquez" width="200px" height="156px" color="#008080"/>
												 </div>
							 </div>
							 <div class="nombre medium-9 small-9 columns" style="background:#008080">
										 <h1><font color="silver"> Arq. José  Márquez  Melgar</font></h1>
							 </div>
		 			 		</div>

							<div class="row">
								<div class="col-md-12 col-sm-12 columns" style="background: rgba(106, 149, 169, 1.0">
									<nav>
						          <span class="nav-btn"></span>
						          <ul class="nav">
						            <li><a href="#perfil">Perfil</a></li>
						            <li><a href="educacion.html">Formación</a></li>
						            <li><a href="experiencia.html">Experiencia</a></li>
												<li><a href="#Aptitudes">Aptitudes</a></li>
												<li><a href="landingpageindex.html">Home</a></li>
										 </ul>
						        </nav>
									</div>
								</div>
								<div class="row">
									<div class="medium-7 center small-12 columns" style="background:#008080">
										<h2><font color="silver">Perfil</font></h2>
										<p class="perfil">
											Profesional extremadamente enfocado y entusiasta, que ha acumulado una invaluable cantidad de experiencia dentro del ramo de la<strong> construcción</strong>.<br> <strong>Ejecutivo de alto nivel </strong>desempeñando el puesto de coordinador general, tiene el instinto y talento en la administración de proyectos durante todo su ciclo de vida; consiguiendo hacer entrega con <strong>alta calidad</strong> de estos, donde los compromisos de <srtong> tiempo y presupuesto </strong> han sido apretados. Tiene una fuerza significativa en construir y mantener relaciones tanto internas como externas, y es ampliamente reconocido de ser un confiable socio de negocio.<br> El acercamiento creativo e innovador a la solución de problemas es una habilidad clave que, en conjunto con la capacidad de pensar de una<strong> manera estratégica</strong>, permite comunicar una visión global concreta.
										</p>
									</div>
								</div>

							<!..Inicio Sección 2 eduexp >
									<div class="row">
														<div class="medium-6 small-12 columns" style="background:#008080">
															<h2><font color="silver">Formación</font></h2>
																	<div class="history-tl-container">
																		<ul class="tl">
																			<li class="tl-item" ng-repeat="item in retailer_history">
																				<div class="timestamp">
																					Junio 1979-Junio 1984<br>
																				</div>
																				<div class="item-title">LA SALLE Arquitectura</div>
																				<div class="item-detail">Ced Prof: 1379408</div>
																			</li>
																			<li class="tl-item" ng-repeat="item in retailer_history">
																				<div class="timestamp">
																					Junio 1976-Mayo 19792<br>
																				</div>
																				<div class="item-title">LA SALLE Preparatoria</div>
																				<div class="item-detail">Certificado</div>
																			</li>
																			<li class="tl-item" ng-repeat="item in retailer_history">
																				<div class="timestamp">
																					2000<br>
																				</div>
																				<div class="item-title">Admon Proyectos</div>
																				<div class="item-title">Método Harvard</div>
																				<div class="item-detail">Diplomado</div>
																			</li>
																		</ul>
																</div>
														</div>
													<div class="medium-6 small-12 columns" style="background:#008080">
															<h2><font color="silver">Experiencia</font></h2>
																	<div class="history-tl-container">
																		<ul class="tl">
																			<li class="tl-item" ng-repeat="item in retailer_history">
																				<div class="timestamp">
																					Febrero 2019-Actual<br>
																				</div>
																				<div class="item-title"><a href="index_cli.html">Construcciones Lizarraga SACV</a></div>
																				<div class="item-detail">Gerente de Proyectos</div>
																			</li>
																			<li class="tl-item" ng-repeat="item in retailer_history">
																				<div class="timestamp">
																					Junio 2014-Enero 2019<br>
																				</div>
																				<div class="item-title"><a href="index_adai.html">ADTEC Apoyo Ingenieril SA CV</a></div>
																				<div class="item-detail">Gerente de Consultoría</div>
																			</li>
																			<li class="tl-item" ng-repeat="item in retailer_history">
																				<div class="timestamp">
																					Abril 1994-Mayo 2014<br>
																				</div>
																				<div class="item-title"><a href="index_inpre.html">Industrial Prefabricadora SA CV</a></div>
																				<div class="item-detail">Coordinador General</div>
																			</li>
																		</ul>
																	</div>
													</div>
									</div>
									<!termina Sección 2 eduexp >
									<!Inicia Sección 3 aptcont >
									<div class="row">
										<div class="medium-7 small-12 columns" style="background:#008080">
													<h2 id="Aptitudes"><font color="silver">Aptitudes</font></h2>
													  <div class="chart">
													    <ul>
													      <li class="pacmicro-skill">Paquetería Microsoft<span class="percentage">95<span class="small-percent">%</span></li>
													      <li class="teamwork-skill">Trabajo en Equipo<span class="percentage">100<span class="small-percent">%</span></li>
													      <li class="cliente-skill">Relación con Cliente<span class="percentage">100<span class="small-percent">%</span></li>
													      <li class="ingles-skill">Inglés<span class="percentage">95<span class="small-percent">%</span></li>
													      <li class="cons-skill">Comunicación<span class="percentage">100<span class="small-percent">%</span></li>
													    </ul>
													  </div><!-- /.chart -->
												<!termina Sección 3 aptcont >
											</div>
											<div class="medium-5 small-12 columns" style="background:#008080">
												<!Inicia Sección 4 contacto >
													<h2 id="contactoi"><font color="silver">Contacto</font></h2>
														<ul class="contacto">
															<li><a href="foundation-icons\foundation-icons.svg"><i class="fi-mail"></i></a>     joebarrabas@gmail.com</li>
															<li><a href="foundation-icons\foundation-icons.svg"><i class="fi-social-linkedin"></i></a>    www.linkedin.com/in/jose-marquez-melgar-jm2</li>
															<li><a href="foundation-icons\foundation-icons.svg"><i class="fi-telephone"></i></a>     6242118642</li>
															<li><a href="foundation-icons\foundation-icons.svg"><i class="fi-marker"></i></a>     Rio Niger No.3 Fovisste Veredas, San José del Cabo, BCS</li>
														</ul>
													<a class="cvimprimir" href="../html\cvjmm2020.pdf">Curriculum Vitae versión PDF</a>
												<!termina Sección 4 Contact >
											</div>
										</div>
						<footer>
									<svg>
										<svg width="200" height="400" viewBox="0 0 1200 1200" />
											<image width="100" height="75" xlink:href="../img\logotrijmm.svg" /></image>
									</svg><p> creado por José Márquez Melgar con apoyo de CODEPEN</p>
						</footer>
					</diV>
	</body>
</html>
